/* footer.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
:root {
  --icon-size: 60px;
}
.footer-container {
  background-color: #f5c5ff; 
  font-family: 'Source Code Pro';
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  color: #444444;
}

.website-visit-counter {
  width: fit-content;
  padding: 2%;
  font-family: 'Orbitron', Arial;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: #00ff37;
  background-color: #00000069;
  border-radius: 10px;
  font-weight: 800;
  border:3px solid #00ff37;
}

.contact-div {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  margin-bottom: -1rem;
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sci {
  display: flex;
  width: 90%;
  height: 70px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5rem;
  list-style: none;
}

.sci div {
  filter: grayscale(100%);
}

.sci div:hover {
  filter: grayscale(0);
}

.header-main-sm-ig {
  width: var(--icon-size);
  height: var(--icon-size);
  background-image: url(../../public/ig-2-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.header-main-sm-gh {
  width: var(--icon-size);
  height: var(--icon-size);
  background-image: url(../../public/github-2-2.png);
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: cover;
}

.header-main-sm-tg {
  width: var(--icon-size);
  height: var(--icon-size);
  background-image: url(../../public/tg-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-link {
  width: var(--icon-size);
  height: var(--icon-size);
  background-image: url(../../public/li-2-2.png);
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: cover;
}

.header-main-sm-dc {
  width: var(--icon-size);
  height: var(--icon-size);
  background-image: url(../../public/discord-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-gmail {
  width: var(--icon-size);
  height: var(--icon-size);
  background-image: url(../../public/gmail-2-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-main-sm-fb {
  width: var(--icon-size);
  height: var(--icon-size);
  background-image: url(../../public/fblogo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-main-sm-x {
  width: 50px;
  height: 50px;
  background-image: url(../../public/xlogo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 150px) and (max-width: 1300px) {
  .header-main-sm-dc, .header-main-sm-fb, .header-main-sm-gh, .header-main-sm-gmail, .header-main-sm-ig, .header-main-sm-link, .header-main-sm-tg{
    width: 40px;
    height: 40px;
  }

  .header-main-sm-x{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .sci{
    gap: 15%;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    align-items: left;
    justify-content: left;
  }

  .footer-container p{
    font-size: 0.9rem;
    margin-bottom: 20%;
  }

}
