/* App.css */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #9d00ff;
  --secondary-color: #fffb00;
  --text-color: #fff;
  --bg-color: #000000;
}

body {
  font-family: "Source Code Pro", sans-serif;
  background-color: var(--primary-color);
  backdrop-filter: brightness(75%);
  color: #fff;
  overflow-y: hidden;
}

.app-container {
  height: 100vh; 
  color: #ffffff;
}

body, html {
  height: 100%;
  margin: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--bg-color);
  align-items: center;
  padding: 10px;
  color: #ffffff;
  z-index: 5000;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color); /* Font color for normal state */
  font-weight: bold;
  font-size: 20px; /* Adjust the font size as needed */
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.navbar button {
  cursor: pointer;
}

.logo{
  height: 100%;
  margin-left: -4em;
  background: none;
  border: none;
}

.logo{
  margin-top: -1.2em;
}
.logo-img{
  height: 130%;
  filter: brightness(300%);
}

.navigation-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10%;
  text-transform: uppercase;
}

.burger-menu{
  display: none;
}

.overlay{
  display: none;
}

/* UpcomingEventsModal.css */
.upcoming-events-modal {
  position: fixed;
  bottom: 3.5%;
  right: 1.5%;
  width: 20%;
  background: linear-gradient(0deg, #fff 0%, #ffffff00 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  z-index: 5000;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.upcoming-events-modal.closed {
  transform: translateY(100%);
  background: none;
}

.modal-content {
  padding: 2%;
  color: #fff;
}

.modal-content img{
  width: 100%;
}

.close-button {
  width: 100%;
  padding: 2%;
  background: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: -3%;
}

.close-button img{
  filter: invert(1);
}

.closed .close-button img{
  transform: rotate(180deg);
}

.closed .modal-content p, .closed .modal-content img, .closed .modal-content{
  opacity: 0;
}


@media screen and (min-width: 150px) and (max-width: 1300px) {
  .navbar {
    /* Add or adjust styles for the navbar in the media query */
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: var(--bg-color);
    align-items: center;
    padding: 10px;
    color: #ffffff;
    z-index: 5000;
  }

  .logo{
    margin-top: 0rem;
    height: 80%;
  }

  .navbar a {
    font-size: 1.5rem; 
  }

  .navigation-btn {
    display: none;
  }

  .burger-menu {
    display: flex;
    cursor: pointer;
    padding: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .bar {
    width: 50px;
    height: 6px;
    background: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(196, 47, 255);
    transition: all 0.5s ease-in-out;
  }

  .bar::before,
  .bar::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(196,47,255);
    transition: all 0.5s ease-in-out;
  }

  .bar::before {
    transform: translateY(-16px);
  }

  .bar::after {
    transform: translateY(16px);
  }

  .burger-menu.open .bar {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .burger-menu.open .bar::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .burger-menu.open .bar::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: none;
  }

  .overlay.open {
    display: block;
  }

  .overlay a {
    display: block;
    padding: 20px;
    font-size: 1rem; /* Adjust the font size as needed */
    color: white;
    text-decoration: none;
    transition: 0.3s;
  }

  .overlay a:hover {
    background-color: #333;
  }
}
