/* App.css */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #9d00ff;
  --secondary-color: #ffd900;
  --text-color: #fff;
  --bg-color: #000000;
}

body {
  font-family: "Source Code Pro", sans-serif;
  background-color: var(--primary-color);
  backdrop-filter: brightness(75%);
  color: #fff;
  overflow-y: hidden;
}

.app-container {
  height: 100vh; 
  color: #ffffff;
}

body, html {
  height: 100%;
  margin: 0;
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--bg-color);
  align-items: center;
  padding: 10px;
  color: #ffffff;
  z-index: 5000;
}

nav a {
  text-decoration: none;
  color: var(--text-color); /* Font color for normal state */
  font-weight: bold;
  font-size: 20px; /* Adjust the font size as needed */
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: var(--secondary-color);
}

nav button {
  cursor: pointer;
}

.logo{
  height: 100%;
  margin-left: -4em;
  background: none;
  border: none;
}

.logo{
  margin-top: -1.2em;
}
.logo-img{
  height: 130%;
  filter: brightness(180%);
}

.navigation-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10%;
  text-transform: uppercase;
}

/* UpcomingEventsModal.css */
.upcoming-events-modal {
  position: fixed;
  bottom: 3.5%;
  right: 1.5%;
  width: 20%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  z-index: 5000;
}

.upcoming-events-modal.closed {
  transform: translateY(100%);
  background: none;
}

.modal-content {
  padding: 2%;
  color: #000000;
}

.modal-content img{
  width: 100%;
}

.close-button {
  width: 100%;
  padding: 2%;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: -3%;
}

.closed .close-button img{
  transform: rotate(180deg);
}

.closed .modal-content p, .closed .modal-content img, .closed .modal-content{
  opacity: 0;
}